body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    height: 100%;
    width: 100%;

}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo {
    height: 60px;
    border-radius: 50%;
    padding: 10px;
}

#logoName {
    margin-left:-830px;
    margin-top: 27px;
    font-size: 27px;            
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
    font-size: 17px;
   
}

.nav-items > ul > li {
    padding-top: 10px;
    padding-right: 40px;
}

.cards {
    width: 200px;
    margin: 6px;
    padding: 9px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}

.cards > img {
    float: left;
    width:  200px;
    height: 200px;
    margin-bottom: 10px;
    background-size: cover;
}

.cards > h2 {
    font-size: 25px;
} 

.restaurant-list {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 0px;
}

.search-container {
    display: flex;
    justify-content: center; /* Aligns the input to the right */
    margin :0px 13px 5px 20px; /* Adds space below the search box */
}

.search-input {
    width: 600px; /* Increases the input area size */
    padding: 10px; /* Adds padding inside the input */
    font-size: 12px; /* Increases font size for better visibility */
    border-radius: 4px; /* Adds rounded corners */
    border: 1px solid #ccc; /* Adds a border */
  }
  
  .search-btn {
    padding: 0px 20px;
    margin-left: 5px; /* Adds space between input and button */
    margin-right: 15px;
    font-size: 12px;
    border: none;
    background-color: #000000; /* Adds button color */
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }